* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightgray;
}


.title {
    display: flex;
    justify-content: center;
    text-shadow: 0 0 5px rgb(102, 162, 214), 0 0 10px rgb(102, 162, 214),
        0 0 20px rgb(102, 162, 214), 0 0 30px rgb(102, 162, 214),
        0 0 40px rgb(102, 162, 214);
}

.copyright {
    display: flex;
    justify-content: center;
    margin-top: 300px;
    border: 2px solid black;
    font-size: medium;
    padding: 8px;
    background-color: rgb(102, 162, 214);
}

.color-label {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    padding: 15px;
    background-color: rgb(102, 162, 214);

}

.personInput {
    padding: 20px;
    margin-left: 675px;
    margin-top: 45px;
    background-color: white;
    border-radius: 7px;
}

.button {
    padding: 10px;
    width: 100px;
    background-color: rgb(102, 162, 214);
    margin-top: 90px;
    cursor: pointer;
    border-radius: 9px;
    margin-left: 725px;
}

.button:hover {
    background-color: white;
    color: rgb(102, 162, 214);
}